body,
html {
  width: 100%;
  height: 100%;
  background-color: brown;
}

.container {
  position: relative;
  display: block;
  background-color: green;
  // if we set width and height, the div around the canvas will get scroll bars

 // width:50vw;
 // height: 50vh;
//  overflow: auto;
}

canvas {
  padding: 0;
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
}

.canvas-foreground{
  background-color: transparent; 
 }

 .canvas-background{
  background-color: blue; 
 }