.hex {
    float: left;
    margin-right: -26px;
    margin-bottom: -50px;
}
.hex:after{
    content: "\2B23";
    font-size:100px;
}

.hex-row {
    clear: left;
    display: grid;
  width:375px;
    grid-template-rows: auto auto; /* Define 3 rows */
    grid-template-columns: 1fr 1fr 1fr 1fr; /* Define 4 columns */
  
    .hex{
      //  transform: scale(0.5, 0.5);
    }

    > *:nth-child(even) {
        margin-top: 53px;
      }
}
